body {
    background-image: url("../images/food.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: rgba(230, 230, 230, 0.6);

}

.container {
    background: rgba(230, 230, 230, 0.6);
}

.btn {
    background-color: rgb(174, 100, 56);
    border: 2px solid rgb(43, 74, 114);
    color: rgb(165, 219, 142);
}

#signUpButton {
    background-color: white;
    border: 2px solid black;
    color: black;
}

#signInButton {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#searchField {
    font-size: 24px;
}

#about {
    background-color: rgba(165, 219, 142, 0.75); 
}
